/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.sub.*
public/google*.html
report.html
composer.phar
/.idea
.phpunit.result.cache