<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ config('app.name') }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="fpt/sedna/css/normalize.min.css">
    <link rel="stylesheet" href="fpt/sedna/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="icon" type="image/png" href="{{ config('whitelabels.favicon_path') }}">

    <style>
        body {
            padding:15px;
        }
    </style>

</head>
<body id="terms-container" style="position: relative;">

{{ terms | raw }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(function(){
        window.gotoSection = function(section){
            let e = $('#terms-container');
            let hs = e.find('h3');
            let positions = {
                'terms-terms': hs.get(0) ? hs.get(0).offsetTop : 0,
                'terms-privacy-policy': hs.get(1) ? hs.get(1).offsetTop : 0,
                'terms-cookie-policy': hs.get(2) ? hs.get(2).offsetTop : 0,
                'refund-cancellation-policy': hs.get(3) ? hs.get(3).offsetTop : 0,
            };
            e.scrollTop(positions[section]);
        };
        if(document.location.hash !== ''){
            let hash = document.location.hash.substr(1);
            gotoSection(hash);
        }
    });
</script>

</body>
</html>