.top-nav-collapse {
  background:rgba(97, 64, 89, 0.9);
}
.bg-color {
  background-color: rgba(77, 5, 45, 0.55);
}
.btn-download {
  background-color: #aa21be;
}
.btn-more, .btn-more:focus {
  border: 1px solid #be21b1;
  color: white;
}
.btn-more:hover {
  background: #aa21be;
}
#contact {
  background-color: rgb(105, 73, 94);
  color: #cacaca;
}