
$accent-color: #3176b5;
$accent-color-2: #33a6d7;
$accent-color-3: #404d6b;

body {
  font-family: 'Work Sans', sans-serif;
}
#top {
  background:#f1f1f1;
}


.btn-orange {
  background: $accent-color;
  color:white !important;
}
a.btn-orange {
  background: $accent-color;
  color:white;
}
.text-orange {
  color:$accent-color;
}
.navigation {
  background:white;
}
#nav-bar {
  .nav-item {
    a.nav-link {
      padding:10px 15px;
      border-bottom: 2px solid transparent;
      margin-left:15px;
    }
    a.nav-link:active,a.nav-link:hover {
      border-bottom: 2px solid $accent-color;
    }
  }
}

.hero {
  background-image: url('/fpt/t-2/img/background.jpg');
  background-size:cover;
  text-align: center;
  color:white;
  @media(min-width:992px){
    min-height:700px;
    padding-top:200px;
  }
  @media(max-width:992px){
    padding-bottom:25px;
    padding-top:25px;
  }
  h1 {
    text-transform: uppercase;
    font-weight:300;
    font-size:4em;
  }
}

#intro {
  color:white;
  text-align: center;
  p {
    line-height:2em;
  }
  .intro-icon i {
    font-size:2em;
    margin-bottom:15px;
  }
  @media(max-width:992px){
    padding-top:25px;
  }
  @media(min-width:992px){
    margin-top:-75px;
    margin-bottom:100px;
    .container {

      .intro-feature {
        padding:40px;
      }
      .intro-feature:nth-child(even) {
        background:$accent-color;
      }
      .intro-feature:nth-child(odd) {
        background:$accent-color-2;
      }
    }
    .intro-icon i {
      font-size:2.5em;
      margin-bottom:30px;
    }
  }
}
#features {
  color:$accent-color;
  padding-bottom:75px;
  p {

  }
  .feature-item {
    list-style-type:none;
  }
  h5 {
    font-weight: bold;
  }
}
#prices {
  background:white;
  padding-top:50px;
  padding-bottom:50px;
  .price-tier-box {
    box-shadow:0 0 30px #cccccc;
    border-top:5px solid $accent-color;
    border-radius:4px;
    overflow:hidden;
    z-index:1;
    position:relative;
    .price-tier-box-feature {
      i {
        min-width:25px;
      }
      .fa-times {
        color:#ccc;
      }
      .fa-check {
        color:#76d560;
      }
    }
    .recommended-badge {
      display:block;
      height:30px;
      line-height:30px;
      width:100%;
      background:$accent-color;
      color:white;
      position:absolute;
      left:-125px;
      top:25px;
      font-weight:bold;
      font-size:.7em;
      transform:rotate(-45deg);
      z-index:0;
    }
  }
  @media(max-width:992px){
    .price-tier-box {
      margin-top:25px;
    }
  }
}

#about-contact {
  background-image:url('/fpt/t-2/img/about_background.jpg');
  background-size:cover;
  color:white;
  padding-top:50px;
  padding-bottom:50px;
  a, a:active, a:hover {
    color:white;
  }
  #contact-info {
    .icon {
      width:32px;
      height:32px;
      background:$accent-color;
      border-radius:50%;
      padding:5px 8px;
      color:black;
      text-align:center;
    }
  }
}

#terms {
  padding-top:50px;
  padding-bottom:50px;
  #terms-container {
    background:white;
    box-shadow:0 0 20px #ccc;
    border-radius:0;
  }
}

footer {
  padding-top:50px;
  padding-bottom:50px;
  background:white;
  color:$accent-color;
  a, a:hover, a:active {
    color:#999;
  }
  .orange-bar {
    border-top:2px solid $accent-color;
    max-width:48px;
  }
  .footer-menu-links {
    a {
      display:block;
      margin-top:10px;
      color: #999;
    }
    button {
      margin-top:10px;
      background:transparent;
      border:0;
      text-align:left;
      padding:0;
    }
  }
}