// Colours partial

// Text colours
$txt-primary: rgba(28, 54, 83, 0.6);
// body font
$txt-secondary: #3D4351;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #BCC1C3;
// form placeholder text
// Global colours
$accent-color: #918d5f;
// global accent colour
$accent-color-hover: #d7d44b;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3D4351;
$h3-color: #3D4351;
$h5-color: #3D4351;
// Layout colours
$section-light: #fff;
$section-dark: #faf8f4;
$to-top-bg: #615e4b;
$footer-primary: #515036;
$footer-secondary: #4a4642;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #fcf6ff;